.container{
    width: 100%;   
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg");
    background-position: center;
    background-size: cover;
}
.mainDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.listDiv{
    width: 35%;
}
.routerDiv{
    width: 35%;
    margin-top: 100px;
}
.welcome{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    display: flex;
    text-decoration: underline;
    margin-bottom: 50px;
}
.header{
    margin: auto;
}
.spaceDiv{
    min-height: 40px;
}